h5 {
    font-size: 30px;
}
#clearHistory {
    margin-top: 2rem;
}
/* test */
#populateResult {
    padding: 1.5rem;
}
#day {
    color: grey;
    padding: .5rem;
    display: inline;
    letter-spacing: .5px;
}
#uvBadge{
    background-color: grey;
    display:inline;
}
#forecastTitle{
    padding: 1.5rem;
}
.forecastData {
    align-content: center;
    letter-spacing: .5px;
}
#forecastCard {
margin:2.5rem;
}
 .row .input-field input:focus {
   border-bottom: 1px solid black !important;
   box-shadow: 0 1px 0 0 black !important;
 }
 