body {
    font-family: 'Roboto', sans-serif;
}
h5#pageHead {
    font-size: 30px;
    font-weight:700!important;
}
#search {
margin-bottom: .5rem;
}
#past-search {
    margin-top: .5rem;
}
#clearHistory {
    margin-top: 1rem;
}
#populateResult {
    border-radius: 10px;
    padding: 1.5rem;
}
#day {
    font-size: 14px;
    color: grey;
    padding: .25rem;
    display: inline;
    letter-spacing: .25px;
}
#uvBadge{
    background-color: grey;
    display:inline;
}
#forecastTitle{
    padding: 1.5rem;
}
.forecastData {
    align: left;
}
#forecastCard {
margin:2.5rem;
}
 .row .input-field input:focus {
   border-bottom: 1px solid black !important;
   box-shadow: 0 1px 0 0 black !important;
 }
 